<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <title>EnqueteWeb!:: Agredecimento</title>
</head>
<body>
    <div class="container">
        <h1>EnqueteWeb!</h1>
        <h2>Obrigado por responder!</h2>
        <p>
             <a asp-action="Index" class="btn btn-primary">Voltar ao Inicio</a><br>
             <a asp-action="Resultado" class="btn btn-primary">Ver resultado Parcial</a>
        </p>
    </div>
</body>
</html>