<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <title>EnqueteWeb!</title>
</head>
<body>
    <div class="container">
        <h1>EnqueteWeb!</h1>
     <h2>Você teria coragem de fazer uma viagem para Marte sem voltar?</h2>
     <p>
         <a asp-action="Responder" class="btn btn-primary">Responder agora!</a>
         <a asp-action="Resultado" class="btn btn-primary">Ver Resultados Parciais</a>
     </p>
    </div>
</body>
</html>